/*
  ================================GLOBAL=======================================
*/

body {
  background-color: #F7F3DB;
  color: #343642;
}

a {
  color: #962D3E;
  text-decoration: none;
}

/* HEADER */

header {
  background-color: #962D3E;
  color: #F7F3DB;
}

header a {
  color: #F7F3DB;
}

/* FOOTER */

/*
  ================================INDEX================================
*/

/*
  ================================READERS================================
*/

/*
  ================================FAQ================================
*/

/*
  ================================EMPLOYMENT================================
*/
